#loan {
  .loan_header {
    font-family: $font-sourcePro;
    h2 {
      font-size: 36px;
      line-height: 45px;
      font-weight: bold;
      margin-bottom: 14px;
    }
    p {
      max-width: 785px;
      letter-spacing: 0.01em;
      font-size: 16px;
      margin-bottom: 34px;
      font-weight: 400;
      color: $black-color;
    }
  }
  .loan_large_card {
    display: flex;
    border: 1px solid #eaeaea;
    border-radius: 15px;
    background: #f9fafb;
    padding: 23px 34px;
    width: 100%;
    .card_img {
      img {
        width: 100%;
        height: 352px;
        object-fit: contain;
      }
    }
    .card_desc {
      @media (max-width: 768px) {
        text-align: center;
      }
      h4 {
        font-size: 28px;
        line-height: 35px;
        letter-spacing: 0.01em;
        margin-bottom: 0;
      }
      p {
        letter-spacing: 0.01em;
        font-size: 16px;
      }
      .buttons {
        display: flex;
        align-items: center;
        @media (max-width: 768px) {
          flex-direction: column;
          gap: 10px;
        }
        a {
          width: 280px;
          background-color: #f45369;
          border-radius: 8px;
          display: inline-block;
          padding: 11px 20px 14px;
          font-size: 24px;
          color: #fff !important;
          line-height: 30px;
          text-align: center;
          border: none;
          cursor: pointer;
          transition: 0.3s linear;
          text-decoration: none;
          @media (max-width: 768px) {
            width: 100%;
          }
          &:hover {
            background-color: $red-color;
          }
        }
        button {
          margin-left: 40px;
          font-size: 18px;
          line-height: 23px;
          color: #2e3131;
          border: none;
          @media (max-width: 768px) {
            border: 1px solid #eaeaea;
            width: 100%;
            padding: 11px 20px 14px;
            border: 1px solid #eaeaea;
            border-radius: 10px;
            background-color: transparent;
            margin: 0;
          }
        }
      }
    }
  }
  .loan_card {
    display: flex;
    flex-direction: column;
    border: 1px solid #eaeaea;
    border-radius: 15px;
    background: #f9fafb;
    padding: 23px 34px;
    width: 100%;
    .card_img {
      width: 170px;
      height: 190px;
      margin-bottom: 30px;
      @media (max-width: 768px) {
        width: 100%;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
    .card_desc {
      @media (max-width: 768px) {
        text-align: center;
      }
      h4 {
        font-size: 28px;
        line-height: 35px;
        letter-spacing: 0.01em;
        margin-bottom: 0;
      }
      p {
        letter-spacing: 0.01em;
        font-size: 16px;
      }
      .buttons {
        display: flex;
        align-items: center;
        @media (max-width: 768px) {
          flex-direction: column;
          gap: 10px;
        }
        a {
          width: 280px;
          background-color: #f45369;
          border-radius: 8px;
          display: inline-block;
          padding: 11px 20px 14px;
          font-size: 24px;
          color: #fff !important;
          line-height: 30px;
          text-align: center;
          border: none;
          cursor: pointer;
          transition: 0.3s linear;
          text-decoration: none;
          @media (max-width: 768px) {
            width: 100%;
          }
          &:hover {
            background-color: $red-color;
          }
        }
        button {
          margin-left: 40px;
          font-size: 18px;
          line-height: 23px;
          color: #2e3131;
          border: none;
          @media (max-width: 768px) {
            border: 1px solid #eaeaea;
            width: 100%;
            padding: 11px 20px 14px;
            border: 1px solid #eaeaea;
            border-radius: 10px;
            background-color: transparent;
            margin: 0;
          }
        }
      }
    }
  }
}
