$white-color: #fff;
$gray-color: #e8ecf1;
$black-color: #2e3131;
$red-color: #ef3e42;
$pink-color: #f45369;
$font-manrope: "Manrope", sans-serif;
$font-sourcePro: "Source Sans Pro", sans-serif;
$font-textMe: "Text Me One", sans-serif;
