* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&family=Text+Me+One&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
@import "partial/mixin";
@import "partial/variable";
@import "../components/Layout/Navbar/navbar";
// home
@import "../components/Pages/Home/Banner/banner";
@import "../components/Pages/Home/Swiper_card/swiper";
@import "../components/Pages/Home/Calcuator/calcuator";
@import "../components/Pages/Home/News/news";
@import "../components/Pages/Home/Exchange_calcuator/exchange";
// Loan
@import "../components/Pages/Kreditler/Loan/loans";
@import "../components/Pages/Kreditler/Loan_News/loannews";
//Deposite
@import "../components/Pages/Depozitler/Deposit/deposite";
@import "../components/Pages/Depozitler/DepositeFoot/depfoot";
// Transfer
@import "../components/Pages/Kocurmeler/TransferCards/transfercards";
//

@import "../components/Layout/Footer/footer";
