#online_service {
  .page_head {
    font-family: $font-sourcePro;
    h2 {
      font-size: 36px;
      line-height: 45px;
      font-weight: bold;
      margin-bottom: 14px;
    }
    p {
      max-width: 785px;
      letter-spacing: 0.01em;
      font-size: 16px;
      margin-bottom: 34px;
      font-weight: 400;
      color: $black-color;
    }
  }
  .cards {
    width: 100%;
    background: #fff;
    border: 1px solid #e8ecf1;
    border-radius: 15px;
    transition: 0.3s linear;
    padding: 24px 24px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: 0.3s linear;
    min-height: 285px;
    &:hover {
      background-color: #ef3e42;
      color: #fff;
      .card_foot {
        .card_btn {
          a {
            background-color: #fff;
            color: #ef3e42;
          }
        }
      }
    }
    .card_desc {
      h4 {
        margin-bottom: 4px;
        letter-spacing: 0.01em;
        line-height: 34px;
        font-size: 28px;
        font-weight: 400;
      }
      p {
        font-size: 14px;
        letter-spacing: 0.01em;
        margin-bottom: 24px;
      }
    }
    .card_foot {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      .card_img {
        img {
          width: 142px;
        }
      }
      .card_btn {
        a {
          text-decoration: none;
          font-size: 16px;
          line-height: 20px;
          padding: 9px;
          display: inline-block;
          max-width: 147px;
          width: 280px;
          background-color: $red-color;
          margin-left: 15px;
          text-align: center;
          border: none;
          cursor: pointer;
          transition: 0.3s linear;
          border-radius: 8px;
          color: $white-color;
          margin-bottom: 24px;
        }
      }
    }
  }
  .news_head {
    text-align: left;
    font-size: 14px;
    font-family: $font-sourcePro;
    color: $black-color;
  }
  .tags {
    border-top: 1px solid #e8ecf1;
    padding: 22px 0;
    .container {
      position: relative;
      &::after {
        content: "";
        position: absolute;
        background: linear-gradient(91deg, hsla(0, 0%, 100%, 0.1), #fff 70%);
        width: 130px;
        top: 0;
        bottom: 0;
        right: 0;
        pointer-events: none;
      }
    }
    ul {
      display: flex;
      align-items: center;
      padding-left: 0;
      list-style: none;
      overflow-x: scroll;
      position: relative;
      padding-bottom: 10px;
      padding-right: 50px;
      li {
        margin-right: 15px;
        a {
          text-decoration: none;
          white-space: nowrap;
          display: block;
          padding: 10px 15px;
          background: #e8ecf1;
          border-radius: 8px;
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 14px;
          color: #2e3131;
        }
      }
    }
  }
}
