header {
  position: relative;
  font-family: $font-sourcePro;
  .logo {
    width: 100%;
    height: 38px;
    @media (max-width: 1000px) {
      width: 80%;
      height: 27px;
    }
    img {
      @include Img($obj_fit: contain);
    }
  }
  .header_items {
    @media (max-width: 1000px) {
      display: none;
    }
    ul {
      display: flex;
      justify-content: end;
      align-items: center;
      li {
        padding: 5px 10px;
        list-style: none;
        font-size: 14px;
        font-weight: 400;
        color: $black-color;
        display: flex;
        gap: 7px;
        .icon {
          border: 1px solid $red-color;
          width: 28px;
          height: 28px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 7px;
          i {
            color: $red-color;
            font-size: 13px;
            font-weight: 600;
          }
        }
      }
    }
  }
  .mobile_items {
    @media (min-width: 1000px) {
      display: none;
    }
    display: flex;
    gap: 15px;
    justify-content: end;

    .icon {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 8px;
      width: 32px;
      height: 32px;
      background-color: $pink-color;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
    .navbar {
      position: absolute;
      top: 0;
      right: -1000px;
      transition: 0.4s ease-in-out;
    }
    .opennavbar {
      position: absolute;
      top: 0;
      right: 0px;
      z-index: 9999;
      width: 100%;
      background-color: $white-color;
      transition: 0.4s ease-in-out;
      .mobile_btn {
        ul {
          display: flex;
          gap: 18px;
          li {
            list-style: none;
            svg {
              color: $pink-color;
              width: 20px;
              height: 20px;
            }
            a {
              text-decoration: none;
              border-radius: 4px;
              border: 1px solid #e9ecf0;

              width: 29px;
              height: 28px;
              display: flex;
              align-items: center;
              justify-content: center;
              font-size: 14px;
              font-family: $font-sourcePro;
              color: #969898;
            }
            .svg {
              border-color: $pink-color;
              border-radius: 6px;
            }
            .active_btn {
              background-color: $pink-color;
              border-color: $pink-color;
              color: #fff;
            }
          }
        }
      }
      .mobile_list_a {
        display: flex;
        gap: 10px;
        a {
          background: #e8ecf1;
          border-radius: 37px;
          padding: 8px 10px 9px;
          color: #969898;
          font-size: 12px;
          line-height: 15px;
          text-decoration: none;
        }
        .active_a {
          background-color: #f45369;
          color: #fff;
        }
      }
      .mobile_list_accardion {
        .accordion {
          .acc_item {
            display: flex;
            flex-direction: column;
          }
          a {
            text-decoration: none;
            padding: 10px 20px;

            color: $black-color;
            font-weight: 600;
          }
          .accordion-item {
            border: none;
            .accordion-body {
              padding-top: 0;
              ul {
                padding: 0;
                margin: 0;
                li {
                  color: rgba(0, 0, 0, 0.7);
                  font-size: 14px;
                  list-style: none;
                  padding-bottom: 15px;
                }
                .dark_li {
                  color: black;
                }
              }
            }
          }
          .accordion-button {
            outline: none;
            border: none;
            background-color: white;
            color: $black-color;
            font-weight: 600;
            &:focus {
              box-shadow: none;
            }
            &::after {
              position: absolute;
              left: -3px;
            }
          }
        }
      }
    }
  }
  nav {
    background-color: $gray-color;
    @media (max-width: 1000px) {
      display: none;
    }
    .nav_items {
      ul {
        display: flex;
        margin: 0;
        padding: 0;
        li {
          cursor: pointer;
          padding: 15px 10px;
          list-style: none;
          position: relative;
          a {
            font-size: 14px;
            color: $black-color;
            font-weight: 400;
            text-transform: uppercase;
            text-decoration: none;
            position: relative;
            &::after {
              position: absolute;

              bottom: -16px;
              left: 0;
              width: 100%;
              height: 2px;
              background-color: $red-color;
            }
          }
          &:hover {
            a {
              &::after {
                content: "";
              }
            }
          }
          .hover_list {
            display: none;
            z-index: -9999;
            position: absolute;
            bottom: -490%;
            width: 1440px;
            background-color: rgb(211, 80, 80);
            ul {
              margin: 0;
              padding: 0;
              display: flex;

              flex-direction: column;
              li {
                list-style: none;
                padding: 7px 0;
                font-size: 14px;
                color: $black-color;
                transition: 0.2s ease-in-out;
                &:hover {
                  color: $red-color;
                }
                a {
                  text-decoration: none;
                  color: inherit;
                  text-transform: capitalize;
                  &::after {
                    background-color: transparent;
                  }
                }
              }
              #activate {
                color: $pink-color;
              }
            }
            .content {
              h3 {
                font-size: 24px;
                font-weight: 700;
                line-height: 30px;
                color: $black-color;
                margin: 0;
                padding: 0;
              }
              p {
                font-size: 14px;
                font-weight: 400;
                line-height: 18px;
                color: $black-color;
                margin: 0 0 40px;
                max-width: 230px;
              }
              a {
                background-color: $pink-color;
                color: $white-color;
                border-radius: 8px;
                font-size: 16px;
                font-weight: 400;
                line-height: 20px;
                padding: 11px 20px 14px;
                width: 100%;
                text-decoration: none;
                transition: 0.2s ease-in-out;
                &:hover {
                  background-color: $red-color;
                }
                &::after {
                  content: "";
                  width: 0;
                  height: 0;
                  background-color: transparent;
                }
              }
            }
            .card_image {
              width: 100%;
              height: 200px;
              img {
                width: 100%;
                height: 100%;
                object-fit: contain;
              }
            }
          }
        }
        #list_kart {
          &:hover {
            #kart {
              left: -100px;

              display: block;
              z-index: 9998;
              background-color: white !important;
            }
          }
        }
        #list_loan {
          &:hover {
            #loan {
              left: -120px;
              display: block;
              z-index: 9998;
              background-color: white !important;
            }
          }
        }
        #list_deposite {
          &:hover {
            #deposite {
              left: -320px;
              display: block;
              z-index: 9998;
              background-color: white !important;
            }
          }
        }
        #list_transfer {
          &:hover {
            #transfer {
              left: -420px;
              display: block;
              z-index: 9998;
              background-color: white !important;
            }
          }
        }
        #list_order {
          &:hover {
            #order {
              left: -530px;
              display: block;
              z-index: 9998;
              background-color: white !important;
            }
          }
        }
      }
    }

    .nav_btn {
      width: 100px;
      height: 32px;
      background-color: $pink-color;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 8px;
      a {
        text-decoration: none;
        color: $white-color;
      }
    }
  }
}
